<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    />
    <link rel="stylesheet" href="css/stylesmenu.css" />
    <title>Services Menu</title>
    <style>

        .btn-purchase a{
            text-decoration: none;
            color: azure;
        }
        .btn-lg{
            height: 50px;
        }
        #body-header{
    opacity: 1;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
  }
  .no-list-style{
    list-style: none;
}

.no-list-style li {
    font-weight: 100;
    font-size: 0.9rem;
}

.no-list-style li a{
    list-style: none;
    color: rgb(5, 4, 4);
    text-decoration: none;
}
.horizontal-list{
  /* list-style: none; */
  padding-left: 0px;
  margin: 0px;

}

.text-center {
    text-align: center;
}

.horizontal-list li{
  display: inline-block;
  margin: 0px 8px 8px 0px;
}

.horizontal-list li a{
  color: rgb(3, 3, 3);
  text-decoration: none;
}

.nav-menu li a{
  transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover{
  color: lightgrey;
  border-bottom: 1px solid white;
}
    </style>
  </head>

  <body style="background: url(https://images.pexels.com/photos/271639/pexels-photo-271639.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
    
    <header id="body-header">
        <nav>
            <ul class = "no-list-style horizontal-list text-center nav-menu">                 
                <li>
                  <a href="/book"> Home </a>
                </li>
                <li>
                  <a href="/services"> Services </a>
                </li>
              </ul>
        </nav>
    </header>
    <main class="container">
      <div class="menu">
        <h2 class="menu-group-heading">Room Services</h2>
        <div class="menu-group">
          <div class="menu-item">
            <img
              src="https://dummyimage.com/600x400/000/fff"
              alt="Black Placeholder Image"
              class="menu-item-img"
            />
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Room Cleaning</span>
                <span class="menu-item-price">Rs.60</span>
                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
              </h3>
              <p class="menu-item-desc">
                Nunc efficitur felis vel mi efficitur, sed molestie sem
                scelerisque. Fusce orci risus, congue eu mauris nec, pretium
                tincidunt nulla.
              </p>
            </div>
          </div>
          <div class="menu-item">
            <img
              src="https://dummyimage.com/600x400/ccc/fff"
              alt="Black Placeholder Image"
              class="menu-item-img"
            />
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Vaccuming</span>
                <span class="menu-item-price">Rs.130</span>
                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
              </h3>
              <p class="menu-item-desc">
                Nunc efficitur felis vel mi efficitur, sed molestie sem
                scelerisque. Fusce orci risus, congue eu mauris nec, pretium
                tincidunt nulla.
              </p>
            </div>
          </div>
          <div class="menu-item">
            <img src="https://dummyimage.com/600x400/000/fff" alt="Black Placeholder Image" class="menu-item-img"/>
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Setting up the room</span>
                <span class="menu-item-price">Rs. 220</span>
                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
              </h3>
              <p class="menu-item-desc">
                Nunc efficitur felis vel mi efficitur, sed molestie sem
                scelerisque. Fusce orci risus, congue eu mauris nec, pretium
                tincidunt nulla.
              </p>
            </div>
          </div>
          <div class="menu-item">
            <img src="https://dummyimage.com/600x400/000/fff" alt="Black Placeholder Image" class="menu-item-img"/>
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Bathroom Cleaning</span>
                <span class="menu-item-price">Rs. 349</span>
                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
              </h3>
              <p class="menu-item-desc">
                Nunc efficitur felis vel mi efficitur, sed molestie sem
                scelerisque. Fusce orci risus, congue eu mauris nec, pretium
                tincidunt nulla.
              </p>
            </div>
          </div>
          
        </div>
      </div>
      <div class="menu">
        <h2 class="menu-group-heading">Laundry Services</h2>
        <div class="menu-group">
          <div class="menu-item">
            <img
              src="https://dummyimage.com/600x400/ccc/fff"
              alt="Black Placeholder Image"
              class="menu-item-img"
            />
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Dry Wash</span>
                <span class="menu-item-price">Rs.60</span>
                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
              </h3>
              <p class="menu-item-desc">
                Nunc efficitur felis vel mi efficitur, sed molestie sem
                scelerisque. Fusce orci risus, congue eu mauris nec, pretium
                tincidunt nulla.
              </p>
            </div>
          </div>
          <div class="menu-item">
            <img
              src="https://dummyimage.com/600x400/000/fff"
              alt="Black Placeholder Image"
              class="menu-item-img"
            />
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Delicate Wash</span>
                <span class="menu-item-price">Rs.70</span>
                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
              </h3>
              <p class="menu-item-desc">
                Nunc efficitur felis vel mi efficitur, sed molestie sem
                scelerisque. Fusce orci risus, congue eu mauris nec, pretium
                tincidunt nulla.
              </p>
            </div>
          </div>
          <div class="menu-item">
            <img
              src="https://dummyimage.com/600x400/ccc/fff"
              alt="Black Placeholder Image"
              class="menu-item-img"
            />
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Bed Sheet Washes</span>
                <span class="menu-item-price">Rs.649</span>
                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
              </h3>
              <p class="menu-item-desc">
                Nunc efficitur felis vel mi efficitur, sed molestie sem
                scelerisque. Fusce orci risus, congue eu mauris nec, pretium
                tincidunt nulla.
              </p>
            </div>
          </div>
        </div>
      <div class="menu">
        <h2 class="menu-group-heading">Miscellaneous</h2>
        <div class="menu-group">
          <div class="menu-item">
            <img
              src="https://dummyimage.com/600x400/ccc/fff"
              alt="Black Placeholder Image"
              class="menu-item-img"
            />
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">AC Checkup</span>
                <span class="menu-item-price">Rs.649</span>
                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
              </h3>
              <p class="menu-item-desc">
                Nunc efficitur felis vel mi efficitur, sed molestie sem
                scelerisque. Fusce orci risus, congue eu mauris nec, pretium
                tincidunt nulla.
              </p>
            </div>
          </div>
          <div class="menu-item">
            <img
              src="https://dummyimage.com/600x400/000/fff"
              alt="Black Placeholder Image"
              class="menu-item-img"
            />
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Repairs</span>
                <span class="menu-item-price">Rs.649</span>
                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
              </h3>
              <p class="menu-item-desc">
                Nunc efficitur felis vel mi efficitur, sed molestie sem
                scelerisque. Fusce orci risus, congue eu mauris nec, pretium
                tincidunt nulla.
              </p>
            </div>
          </div>
          <div class="menu-item">
            <img
              src="https://dummyimage.com/600x400/ccc/fff"
              alt="Black Placeholder Image"
              class="menu-item-img"
            />
            <div class="menu-item-text">
              <h3 class="menu-item-heading">
                <span class="menu-item-name">Recoveries</span>
                <span class="menu-item-price">Rs.649</span>
                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
              </h3>
              <p class="menu-item-desc">
                Nunc efficitur felis vel mi efficitur, sed molestie sem
                scelerisque. Fusce orci risus, congue eu mauris nec, pretium
                tincidunt nulla.
              </p>
            </div>
          </div>
        </div>
      <div class="menu">
        <section class="container content-section">
          <h2 class="menu-group-heading">Cart</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">
            
        </div>
        <div class="cart-total">
            <strong class="cart-total-title">Total</strong>
            <span class="cart-total-price">Rs.0</span>
        </div>
        <button class="btn-purchase btn btn-primary btn-purchase btn-lg" type="button"><a href="/payment">Purchase</a></button>
    </section>
      </div>
        
    </main>
    
    <script src="js/store.js"></script>
    
  </body>
</html>
